<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>
<body>
<h1></h1>
<div class="center jumbotron">
  <h1 id="slogan">Startseite zeyenm.de</h1>
  <%= link_to "Jetzt registrieren !!!", "#", class: "btn btn-primary" %>
</div>
</body>
</html>