<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>
<body>
<h1>This is the home page</h1>
<%= link_to 'About', about_path %><\br>
<%= link_to 'Neuen Artikel anlegen', new_article_path %>
</body>
</html>