<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="zeyenm.de"></a>
            by <a href="zeyenm.de"> Maik Zeyen </a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "Über", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>